<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSUEB Bank - <%= typeof pageTitle !=='undefined' ? pageTitle : 'Dashboard' %>
    </title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>

    <footer>
        <p>&copy; 2025 CSUEB Bank. All rights reserved.</p>
    </footer>
    <script src="main.js"></script>
    <script src="index.js"></script>
</body>

</html>