<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Banking System - Welcome</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <header>
    <h2>CSUEB Bank</h2>
  </header>

  <div class="container">
    <h1>Welcome to CSUEB Bank</h1>
    <p>
      We provide secure and convenient banking services for all your needs.
      Manage your Checking, Savings, Credit, or Investment Accounts efficiently.
    </p>
      <a class="btn" href="/login" role="button">Proceed to Login</a>
  </div>

  <footer>
    <p>&copy; 2025 CSUEB Bank. All rights reserved.</p>
  </footer>

  <script src="main.js"></script>
</body>
</html>
